{% extends "template.html" %}

{% block title %}Create Test{% endblock %}

{% block scriptsAndStyles %}

{% endblock %}

{% block content %}
<div id="content">
  <h3>Create Test</h3>
    {% if message != null %}
      <div class="alert alert-{{type}} alert-dismissible rightInputs" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{message}}
      </div>
    {% endif %}
      <div class="form-group">
        <form method="POST" action="/create"> 
          <div class="form-group">
            <label for="iteration">Iteration: </label>
            <select name="iteration" class="form-control">
              <option value="8" selected>Eight</option>
 
            </select>
          </div>

          <div class="form-group">
            <label for="author">Author: </label>
            <select name="author" class="form-control">
              <option value="Stephen" selected>Stephen</option>
            </select>
          </div>
         
          <div class="form-group">
            <label for="testType">Test Type</label>
            <select name="testType" class="form-control">
              <option value="Web">Web Application</option>
              <option value="Mobile" selected>Mobile Application</option>
            </select>
          </div>

          <div class="form-group">
            <label for="testname">Test Name: </label>
            <input type="text" name="testname" class="form-control"></input>
          </div>

          <div class="form-group">
            <label for="prerequisites">Prerequisites: </label>
            <textarea name="prerequisites" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="testSteps">Test Steps: </label>
            <textarea name="testSteps" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="expectedOutcome">Expected Outcome: </label>
            <textarea name="expectedOutcome" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <input type="submit" value="Add Test">
          </div>

        </form>

      </div>
  </div>
{% endblock %}