{% extends "template.html" %}

{% block title %}Query Tests{% endblock %}

{% block scriptsAndStyles %}

{% endblock %}

{% block content %}
<h3>Create Test</h3>
    <div class="form-group">
      <form method="POST"> 
        <div class="form-group">
          <label for="iteration#">Iteration: </label>
          <select class="form-control">
            <option disabled selected> -- select an option -- </option>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Five</option>
            <option value="six">Six</option>
            <option value="seven">Seven</option>
            <option value="eight">Eight</option>
            <option value="nine">Nine</option>
            <option value="ten">Ten</option>
            <option value="eleven">Eleven</option>
            <option value="twelve">Twelve</option>
          </select>
        </div>

        <div class="form-group">
          <label for="author">Author: </label>
          <select class="form-control">
            <option disabled selected> -- select an option -- </option>
            <option value="stephen">Stephen</option>
            <option value="rich">Rich</option>
            <option value="charlotte">Charlotte</option>
            <option value="ben">Ben</option>
          </select>
        </div>
       
        <div class="form-group">
          <label for="testType">Test Type</label>
          <select class="form-control">
            <option disabled selected> -- select an option -- </option>
            <option value="database">Database</option>
            <option value="orm">ORM</option>
            <option value="web">Web Application</option>
            <option value="mobile">Mobile Application</option>
          </select>
        </div>

        <div class="form-group">
          <label for="prerequisites">Prerequisites: </label>
          <textarea name="prerequisites" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="testSteps">Test Steps: </label>
          <textarea name="testSteps" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="expectedOutcome">Expected Outcome: </label>
          <textarea name="expectedOutcome" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" value="Add Test">
        </div>

      </form>

    </div>
{% endblock %}