{% extends "template.html" %}
{% block title %}Settings{% endblock %}
<!--java Script to load the tab format -->
{% block scriptsAndStyles %}

<!--javaScript to confirm a users deactivation -->
<script>
$(document).ready(function() {
  $("#deactivate").submit(function(e) {
    if (!confirm('Are you sure you want to deactivate this account?')) {
      e.preventDefault();
    }
  });
});
</script>
{% endblock %}

{% block content %}
<fieldset class ="form-container">
  <i class="fa fa-cog headingIcon pull-left"></i><h4> Settings </h4>
  <hr>
    <ul class="nav nav-pills btn-margin nav-justified" role="navigation">
      <li role="presentation" class="active"><a href="/settings" aria-controls="settings" role="tab" data-toggle="tab">Account Settings</a></li>
      <li role="presentation"><a href="/security" aria-controls="security" role="tab" data-toggle="tab">Security & Privacy</a></li>
      <li role="presentation"><a href="/faq" aria-controls="faq" role="tab" data-toggle="tab">FAQ's</a></li>
    </ul>
    <hr>
    <br/>
</fieldset>

{% endblock %}
