{% extends "template.html" %}

{% block title %}Patient Notes{% endblock %}

{% block scriptsAndStyles %}


{% endblock %}

{% block content %}


<fieldset class ="form-container">

   <i class="fa fa-pencil headingIcon pull-left"></i><h4 class= "pull-left">Patient Notes</h4>

  <hr>
  {% if message != null %}
    <div class="alert alert-{{type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{message}}
    </div>
  {% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
   {% for note in notes %}
    <h5><strong>Title: </strong>{{note.title}} </h5>
    <p><strong>Comment: </p> </strong>
    <p>{{note.notes}} </p>
     <p><strong>Date Posted:</p> </strong>
    {{note.datetime}}
    <hr>
   {% endfor %}
</div>

  <form role="form" action="/addNote" method="post" >
    <div class="col-md-8">
        <div class="col-lg-6">
            <div class="form-group">
                <h4> Add Comment </h4>

                    <label for="InputName">Title</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="title" name="title">
                      <span class="input-group-addon"></span></div>
                    </div>

                    <input type="hidden" class="form-control" name="carer" id="carer"  readonly="true" value="{{session.username}}" >
                    <input type="hidden" class="form-control" name="patient" id="patient"  readonly="true" value="{{patient}}" >
                    
                    <div class="form-group">
                        <label for="InputMessage">Message</label>
                        <div class="input-group">
                        <textarea name="notes" id="InputMessage" class="form-control" rows="4" ></textarea>
                        <span class="input-group-addon"></span></div>
                    </div>

                    <br />
                    <input type="submit" name="submit" id="submit" value="Send" class="btn btn-success pull-right">
             </div>
           </div>
         </div>
      </form>                  


 </fieldset>

{% endblock %}

