{% extends "template.html" %}

{% block title %}Patient Notes{% endblock %}

{% block scriptsAndStyles %}


{% endblock %}

{% block content %}

<fieldset class ="form-container">
  <i class="fa fa-pencil headingIcon pull-left"></i><h4 class= "pull-left">Patient Notes: {{patient}}</h4>
  <hr>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <fieldset class="links">
    <!--Form for a Carer to add a new note -->
    <form role="form" action="/addNote" method="post" >
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <h4>Add Comment</h4>
            <label for="InputName">Title</label>
            <div class="input-group">
              <input type="text" class="form-control" id="title" name="title">
              <span class="input-group-addon"></span>
            </div>
          </div>
        </div>
      </div>

      <input type="hidden" class="form-control" name="carer" id="carer"  readonly="true" value="{{session.username}}" >
      <input type="hidden" class="form-control" name="patient" id="patient"  readonly="true" value="{{patient}}" >
              
      <div class="form-group">
        <label for="InputMessage">Message</label>
        <div class="input-group">
          <textarea name="notes" id="InputMessage" class="form-control" rows="4" ></textarea>
          <span class="input-group-addon"></span>
        </div>
      </div>
      <input type="submit" name="submit" id="submit" value="Post" class="btn btn-success btn-sm pull-right">
      </br>
      </br>
      </br>
    </form> 
  </fieldset>

  <div class="container">
    <!--This contains a for loop listing all the notes the carer has recorded from the corresponding patient visit -->
    {% for note in notes|sort(reverse=True) %}
    <div class="row">
      <div class="col-sm-1">
        <div class="thumbnail">
          <img alt="Profile Picture" src="/images/{{session.profilepicture}}" class="img-circle" style="position: relative; top: 0; left: 0;width: 10em;">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="pull-left"><strong>Title: </strong> {{note.title}} <span class="text-muted">{{note.datetime}}</span></p>
            <form action="/deleteNote" method="POST">
              <input type="hidden" name="noteid" value="{{note.noteid}}">
              <input type="hidden" name="patient" value="{{note.patient}}">
              <button type="submit" class="btn btn-danger btn-xs pull-right" onclick="return confirm('Are you sure you want to delete this note?')"><i class="fa fa-trash-o" style="font-size: 1.5em;"></i></button>
            </form>
            </br>
          </div>
          <div class="panel-body">
            {{note.notes}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>       
 </fieldset>

{% endblock %}
