{% extends "template.html" %}

{% block title %}Account{% endblock %}

{% block scriptsAndStyles %}{% endblock %}

{% block content %}

<h2>Deactivate account</h2>
	<form name="deactivate" action="/deactivate" id="deactivate" method="POST">
		<div class="form-group checkbox">
			<input type="checkbox" name="confirmDeactivate"> Are you sure you want to deactivate this account?
		</div>
		
		<div class="form-group">
			<select name="reason" class="form-control">
				<option class="placeholder" disabled selected>(Reason?)</option>
				<option value="reason1">I don&#39;t understand how to use JustHealth</option>
				<option value="reason2">I&#39;m only leaving temporarily</option>
				<option value="reason3">I&#39;m using a different app</option>
				<option value="reason4">I receive too many notifications and emails</option>
				<option value="reason5">I don&#39;t find JustHealth useful</option>
				<option value="reason6">I have privacy concerns</option>
				<option value="reason7">Other (Please specify)</option>
			</select>
		</div>
				
		<div class="form-group">
			<textarea name="comments" id="comments" class="form-control" placeholder="Any comments..."></textarea>
		</div>
		
		<div class="form-group checkbox">
			<input type="checkbox" class= name="keepData"> Please check the box if you want us to delete your information 
			<br/>
			<a class="smallLink" data-toggle="modal" data-target="#keepData"><i class="fa fa-file"></i> Why should we keep your information?</a>
		</div>
		
		<div class="modal fade" id="keepData" tabindex="-1" role="dialog" aria-labelledby="keepDataLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="keepDataLabel">What happens to your information</h4>
					</div>
					<div class="modal-body">
						<p>
						We store your information in a completely secure database, if your personal information changes, you may correct or update it by making a change in <a href="/settings">Settings</a> > <a href="/editprofile">Edit Profile</a>.
						</p>
						<p>
						If you wish to deactivate your JustHealth account, we will retain your information for as long as your account is active or is needed to provide you required functionality. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.<br/>
						</p>
						<p class="bold">
						If you wish, we can retain your information, there are benefits to doing so.
						</p>
						<ul>
							<li>If you are only temporarily leaving, we will be able to restore your account to the point you left it when you return.</li>
							<li>If you don’t want us to keep your data, you will have to completely re-register instead of reactivating your account.</li>
						</ul>
						<p>
						If you select to leave your information with us, you can contact <a href="mailto:justhealth@justhealth.co.uk">justhealth@justhealth.co.uk</a> if you change your mind.
						</p>
						<p>
						We promise to notify you of any changes to our privacy policy or to the way your information is stored.
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<input class="btn btn-default pull-right" type="submit" value="Deactivate">
		</div>
	</form>
{% endblock %}