{% extends "template.html" %}
{% block title %}Edit Profile{% endblock %}
{% block scriptsAndStyles %}
<script>
    var emailCheck;
    var dateOfBirthCheck;

    function dobCheck() {
        dateOfBirthCheck = checkDateOfBirth($('#dob'));
    }

    function validateEmailCheck() {
      var email = $('#validateEmail');
      emailCheck = validateEmail($(email).val());
      
      if (emailCheck) {
        $(email).siblings("label").html("Valid Email");
        $(email).parent().removeClass('has-error');
        $(email).parent().addClass('has-success');
      }
      else {
        $(email).siblings("label").html("Invalid Email");
        $(email).parent().removeClass('has-success');
        $(email).parent().addClass('has-error');
      }
    }

    $(document).ready(function() {
        dobCheck();
        validateEmailCheck();
        //Check all fields are filled in
        $('form').submit(function(e) {
            $(".check").each(function(){
                if ($(this).val() == null || $(this).val() == "") {
                    alert("All fields must be filled out");
                    e.preventDefault();
                    return false;
                }
            });
            if (!emailCheck || !dateOfBirthCheck) {
                alert("Please check the form for errors");
                e.preventDefault();
                return false;
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div>
    <fieldset class ="form-container">
        <i class=" fa fa-pencil-square-o headingIcon pull-left"> </i> <h4 class ="pull-left">Edit your profile</h4>
        <a href="/settings"><i class="fa fa-cog headingIcon pull-right"></i></a>
        <hr />
        <br />

        <fieldset class ="register-inner">
        <!--Form to update profile details -->
            <form name="editDetails" method="POST" action="/updateProfile" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="image">Upload a profile picture</label>
                    <input class="form-control" name="image" type="file" value="">
                </div>
                <div class="form-group">
                    <input class="hidden" type="text" name="username" value="{{request.username}}" readonly="true">
                </div>
                <div class="form-group">
                    <label for="name">First Name</label>
                    <input class="form-control input-sm" type="text" name="firstname"  value="{{request.firstname}}">
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input class="form-control input-sm" type="text" name="surname"  value="{{request.surname}}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="dob">Date of Birth</label>
                    <input class="form-control input-sm" type="date" name="dob" id="dob" value="{{request.dob}}" onkeypress="dobCheck();">
                </div>
                <div class="form-group">
                <!--Find how to get the current gender from db-->
                    <label for="ismale">Gender </label>
                    {% if request.gender == "Male" %}
                        <input class="" type="radio" name="ismale" value="true" checked="true"> Male&nbsp;
                        <input class="" type="radio" name="ismale" value="false"> Female&nbsp;
                    {% else %}
                        <input class="" type="radio" name="ismale" value="true"> Male&nbsp;
                        <input class="" type="radio" name="ismale" value="false" checked="true"> Female&nbsp;
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control input-sm" type="text" name="email" id="validateEmail" value="{{request.email}}" onkeyup="validateEmailCheck();">
                </div>
                <div class="form-group">
                    <input class="btn btn-success pull-right" name="Submit" type="submit" value="Update">
                    <button class="btn btn-default pull-right" style="margin-right:5px;" onclick="goBack()">Cancel</button>
                </div>
            </form>
        </fieldset>
        <br />
        <br />
    </div>
</fieldset>
{% endblock %}
