{% extends "template.html" %}

{% block title %}Reset Password{% endblock %}

{% block scriptsAndStyles %}
<script type="text/javascript">
  var confirmPasswordCheck;

  function passwordCheck() {
    var password = $('#password');
    var confirmPassword = $('#confirmPassword');

    var strength = checkStrength($(password).val());
      
    $(password).siblings("label").html("Your password strength is " + strength);
    if (strength == "Weak") {
      $(password).parent().removeClass('has-warning');
      $(password).parent().removeClass('has-success');
      $(password).parent().addClass('has-error');
    }
    else if (strength == "Good") {
      $(password).parent().removeClass('has-error');
      $(password).parent().removeClass('has-success');
      $(password).parent().addClass('has-warning');
    }
    else if (strength == "Strong"){
      $(password).parent().removeClass('has-warning');
      $(password).parent().removeClass('has-error');
      $(password).parent().addClass('has-success');
    }

    if ($(confirmPassword).val() == $(password).val()) {
      $(confirmPassword).siblings("label").html("Your passwords match");
      $(confirmPassword).parent().removeClass('has-error');
      $(confirmPassword).parent().addClass('has-success');
      confirmPasswordCheck = true;
    }
    else {
      $(confirmPassword).siblings("label").html("Your passwords do not match");
      $(confirmPassword).parent().removeClass('has-success');
      $(confirmPassword).parent().addClass('has-error');
      confirmPasswordCheck = false;
    }
  }
  
  function validateForm() {
      var success = true;
      $('.check').each(function() {
        if ($(this).val().trim() === '' )
          success = false;
        });
      return success;
    }

    $(document).ready(function() {
      passwordCheck();
      $('form').submit(function (e) {
        if (!validateForm()) {
          e.preventDefault();
          alert("All fields must be filled out");
          return false;
        }
        if (!confirmPasswordCheck) {
          e.preventDefault();
          alert("Please ensure your passwords match");
          return false;
        }
      });
    });
</script>
{% endblock %}

{% block logoutBtn %}{% endblock %}

{% block content %}
<fieldset class ="form-container">
  <i class="fa fa-lock headingIcon pull-left"></i>
  <h4>Reset Password</h4>
  
  <br />
  
  <div class="alert alert-{{errortype}} alert-dismissable" role="alert">
    <p>{{error}}</p>
  </div>
  
  <h5>{{message}}</h5>
  <p>{{submessage}}</p>
  
  <br />
  
  <fieldset class="register-inner">
    <!--form starts to reset a users password -->
    <form name= "expiredpassword" action="/expiredpassword" method="POST">
      <div class="form-group">
        <div class="form-group">
          <input class="form-control input-sm hidden" type="text" name="username" value="{{user}}" readonly="readonly">
        </div>
        
        <div class="form-group">
          <label for="newpassword">New Password</label>
          <input class="form-control input-sm check" type="password" id="password" name="newpassword" onkeyup="passwordCheck();">
        </div>
        
        <div class="form-group">
          <label for="confirmnewpassword">Confirm New Password</label>
          <input class="form-control input-sm check" type="password" id="confirmPassword" name="confirmnewpassword" onkeyup="passwordCheck();">
        </div>
      </div>
    
      <input class="btn btn-success" type="submit" value="Submit">

    </form>
  </fieldset>
  <br />
</fieldset>
{% endblock %}
