{% extends "template.html" %}
{% block title %}Settings{% endblock %}
<!--java Script to load the tab format -->
{% block scriptsAndStyles %}
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("p").toggle();
  });
});
</script>
{% endblock %}

{% block content %}
<fieldset class ="form-container">
  <i class="fa fa-question headingIcon pull-left"></i><h4>Frequently Asked Questions</h4>
  <hr>
    <ul class="nav nav-pills btn-margin nav-justified" role="navigation">
    <ul class="nav nav-pills btn-margin nav-justified" role="navigation">
      <li role="presentation"><a href="/settings" aria-controls="settings">Account Settings</a></li>
      <li role="presentation"><a href="/security" aria-controls="security">Security & Privacy</a></li>
      <li role="presentation" class="active"><a href="/faq" aria-controls="faq">FAQs</a></li>
    </ul>
    <hr>
    <br/>
    <div id="privacy">
        <ul>
          <li class="bold"> Who can connect with me? </li>
          <p>As a Patient only carers can search for you, as a carer only patients can search for you</p>
          <li class="bold"> Who view my data? </li>
          <p>If you are a patient, only you and your carer can view your data</br>
          If you are a carer, your patients can only see your username, firstname and surname</p>
          <li class="bold"> Where is my data stored? </li>
          <p>All data is stored on JustHealth's database which protected by many security settings</p>
          <li class="bold"> How can I delete appointments about myself? </li>
          <p>To delete appointments and prescriptions this can be done within the respective pages</p>
          <li class="bold"> How can I delete all my data? </li>
          <p>To delete all data about you, you need to deactivate your account and check the box to remove all your data</p>
          <li class="bold"> How can I leave JustHealth? </li>
          <p>To remove your account, this is done via the deactivation tab</p>
        </ul>
    </div>
</fieldset>

{% endblock %}