{% extends "template.html" %}

{% block title %}Legal{% endblock %}

{% block scriptsAndStyles %}{% endblock %}

{% block content %}
<h2>Legal</h2>

<br />
  <!--tile format 2 by 2 -->
  <div class="col-xs-5 col-md-5">
    <a class="thumbnail" href= "/termsandconditions">
      <p><center> Terms and Conditions</center> </p>
    </a>
  </div>
  ​
  <div class="col-xs-5 col-md-5">
    <a class="thumbnail" href= "/privacypolicy">
      <p><center>Privacy Policy</center> </p>
    </a>
  </div>​

  <div class="col-xs-5 col-md-5">
    <a class="thumbnail" href= "/references">
      <p> <center>References</center></p>
    </a>
  </div>​
  <div class="col-xs-5 col-md-5">
    <a class="thumbnail" href="/sitemap">
      <p> <center>Site Map</center></p>
    </a>
  </div>​



{% endblock %}
