{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block scriptsAndStyles %}
<!--<script>
  $(document).ready(function() {
    $('form').submit(function(e) {
      if (!validateForm()) {
        e.preventDefault();
        alert("All fields must be filled out")
      }
    });
  });
</script>-->
<script>
//check if email is valid
//focus out: validation is performed when different field is active
	$('#validateEmail').focusout(function() {
		if(validateEmail($('#validateEmail').val())) {
			//show message if email is valid
			$('#emailValidate').html('<i class="fa fa-check"></i> Email is valid').addClass('rightInputs');
		}
		else {
			//show message if email is not valid
			$('#emailValidate').html('<i class="fa fa-times"></i> Email is not valid').addClass('wrongInputs');
		}
	});
</script>
{% endblock %}

{% block logoutBtn %}{% endblock %}

{% block content %}

  {% if message != null %}
    <div class="alert alert-{{type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{message}}
    </div>
  {% endif %}

    <fieldset class="login-outer">
        <h4 class="pull-left strong">JustHealth Login</h4>
        <button class="btn btn-success pull-right" onclick="javascript:location.href='/register'">Sign up</button>
        <hr>
        <fieldset class="login-inner">
	    <form action="/login" method="POST">   
	   	    <!--Input box for username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control input-sm" type="text" name="username">
            </div>
	   	    <!--Input box for password -->
        
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control input-sm" type="password" name="password">
            </div>
            <input class="btn btn-default pull-right" type="submit" value="Login">
	    </form>
        <a class="smallLink" data-toggle="modal" data-target="#forgotPassword">Forgot Password</a>
        </fieldset>
    </fieldset>

		<!--Forgot password modal, onlcick the modal will appear and ask the user to enter their email address in order to be able to reset their password -->
	<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="forgotPasswordLabel">Forgotten your password?</h4>
				</div>
					<div class="modal-body">
						<form action="/forgotPassword" method="POST">
							<p>
								Enter your <b>email address</b> below, we'll send you an email containing instructions for what to do next:
							</p>
							<div class="form-group">
								<input class="form-control input-sm" type="text" id="validateEmail" name="email">
								<span id="emailValidate"></span>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-default">Submit</button>
					 		</div>
					  </form>

					</div>
			</div>
		</div>
	</div>
 	<br />

{% endblock %}
