{% extends "template.html" %}

{% block title %}My Patients{% endblock %}

{% block scriptsAndStyles %}
  <script>
  $(document).ready(function() {
    {% with returnType = get_flashed_messages(category_filter=["type"]) %}
      {% if returnType %}
        {% for msg in returnType %}
          var returnType = "{{msg}}";
          if (returnType == "prescription") {
            {% with username = get_flashed_messages(category_filter=["user"]) %}
              {% if username %}
                {% for msg in username %}
                  $('#collapse{{msg}}').collapse('show');
                  $("#prescription{{msg}}").modal('show');
                {% endfor %}
              {% endif %}
            {% endwith %}
          }
        {% endfor %}
      {% endif %}
    {% endwith %}
  });

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      return false;
    }
    return true;
  }

  //Checks all form fields are filled in
  $('form').submit(function(e) {
    $("form :input").each(function(){
      if ($(this).val() == null || $(this).val() == "") {
        alert("All fields must be filled out");
        e.preventDefault();
        return false;
      }
    });
  });

  //Shows confirm box on delete appointment
  $(document).ready(function() {
    $("#deleteapp").submit(function(e) {
      if (!confirm('Are you sure you want to delete this appointment?')) {
        e.preventDefault();
      }
    });
  });

  </script>
{% endblock %}

{% block content %}
<fieldset class ="form-container">

    <!--All completed connections the carer has-->  
  <i class="fa fa-users headingIcon pull-left"></i><h4>My Patients</h4>
  <hr>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for patient in patients %}
      <div class="panel panel-default">
        <div class="panel-heading" id="myPatientsTab" role="tab" id="heading{{patient.username}}">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{patient.username}}" aria-expanded="true" aria-controls="collapse{{patient.username}}" id="myPatientsPatientName">
              <i class="fa fa-caret-right"></i> {{patient.firstname}} {{patient.surname}} ({{patient.username}})
            </a>
          </h4>
        </div>
        <div id="collapse{{patient.username}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{patient.username}}">
          <div class="panel-body">
            <div class="row">

              <div class="col-md-6">

                <!-- View Prescriptions -->
                <a onclick='$("#prescription{{patient.username}}").modal("toggle")'>
                  <div style="height:25px;">
                    <p style="line-height: 20px;font-size: 20px;">
                      <i class="fa fa-medkit"></i> Prescriptions
                    </p>
                  </div>
                </a>
                <div class="modal fade" id="prescription{{patient.username}}" tabindex="-1" role="dialog" aria-labelledby="prescription{{patient.username}}Label" aria-hidden="true" data-backdrop="static">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="prescription{{patient.username}}Label">{{patient.firstname}} {{patient.surname}}'s Prescriptions</h4>
                      </div>
                      <div class="modal-body" id="prescription{{patient.username}}body">
                        
                        <!-- Display flashed return message -->
                        {% with returnType = get_flashed_messages(category_filter=["type"]) %}
                          {% if returnType %}
                            {% for msg in returnType %}
                              {% if msg == "prescription" %}
                                {% with displayClass = get_flashed_messages(category_filter=["class"]) %}
                                  {% if displayClass %}
                                    {% for msg in displayClass %}
                                      <div class="alert alert-{{msg}} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        {% with result = get_flashed_messages(category_filter=["result"]) %}
                                          {% if result %}
                                            {% for msg in result %}
                                              {{msg}}
                                            {% endfor %}
                                          {% endif %}
                                        {% endwith %}
                                      </div>
                                    {% endfor %}
                                  {% endif %}
                                {% endwith %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                        <!-- End flashed message -->
                        <!--Add prescription form -->
                        <div id="{{patient.username}}_addPrescription" style="width: 90%;margin: 0 auto;display:none">
                          <form action="/addPrescription" method="POST" class="form-horizontal" role="form" >
                            <input name="username" type="hidden" value="{{patient.username}}">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="{{patient.username}}_medication">Medication</label>
                                  <select name="medication" class="form-control" id="{{patient.username}}_medication">
                                    {% for medication in medicationList %}
                                      <option>{{medication.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>

                                <div class="form-group">
                                  <label for="{{patient.username}}_dosage">Dosage</label>
                                  <input name="dosage" type="number" class="form-control" id="{{patient.username}}_dosage" placeholder="Dosage Value (e.g 100)" onkeypress="return isNumber(event)">
                                </div>

                                <div class="form-group">
                                  <label for="{{patient.username}}_frequency">Frequency</label>
                                  <input name="frequency" type="number" class="form-control" id="{{patient.username}}_frequency" placeholder="Frequency (e.g 1)" onkeypress="return isNumber(event)" >
                                </div>

                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="{{patient.username}}_quantity">Quantity</label>
                                  <input name="quantity" type="text" class="form-control" id="{{patient.username}}_quantity" placeholder="Quantity (To take at once)">
                                </div>

                                <div class="form-group">
                                  <label for="{{patient.username}}_dosageUnit">Dosage Unit</label>
                                  <select name="dosageunit" class="form-control" id="{{patient.username}}_dosage">
                                    <option>mg</option>
                                    <option>ml</option>
                                    <option>puffs </option>
                                  </select>
                                </div>

                                <div class="form-group">
                                  <label for="{{patient.username}}_frequencyUnit">Frequency Unit</label>
                                  <input name="frequencyunit" type="text" class="form-control" id="{{patient.username}}_frequencyUnit" placeholder="Frequency Unit (e.g Daily)">
                                </div>

                              </div>
                            </div>

                            <div class="row" style="margin: 0 auto;">
                              <div class="form-group">
                                <label for="{{patient.username}}_dosageform">Type</label>
                                <input name="dosageform" type="text" class="form-control" id="{{patient.username}}_dosageform" placeholder="Dosage Form (e.g Tablet)">
                              </div>

                              <div class="col-md-6" style="margin: 0 auto;">
                                <div class="form-group">
                                  <label for="{{patient.username}}_startDate">Start Date</label>
                                  <input name="startdate" type="date" class="form-control" id="{{patient.username}}_startDate" placeholder="dd/mm/yyy" onkeypress="return isNumber(event)">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="{{patient.username}}_endDate">End Date</label>
                                  <input name="enddate" type="date" class="form-control" id="{{patient.username}}_endDate" placeholder="dd/mm/yyyy" onkeypress="return isNumber(event)">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="{{patient.username}}_repeat">Repeat</label>
                                <select name="repeat" class="form-control" id="{{patient.username}}_repeat">
                                  <option>Yes</option>
                                  <option>No</option>
                                </select>
                              </div>

                              <div class="form-group">
                                <label for="{{patient.username}}_stockleft">Stock</label>
                                <input name="stockleft" type="text" class="form-control" id="{{patient.username}}_stockleft" placeholder="Patient's current stock">
                              </div>

                              <div class="form-group">
                                <label for="{{patient.username}}_prerequisite">Observations</label>
                                <textarea class="form-control" name="prerequisite" id="{{patient.username}}_prerequisite"></textarea>
                              </div>
                            </div>

                            <div>
                              <input class="btn btn-success pull-right" type="submit" value="Add prescription" style="width:150px;" onclick="return confirm('Are you sure you want to add this prescription?')">
                            </div>
                            
                          </form>
                        <button class="btn btn-danger pull-right" style="margin-right:5px;" onclick='$("#{{patient.username}}_addPrescription").toggle("slow");'>Cancel</button>
                        <!--End form -->
                      </br>
                        <hr />
                      </div>


                        <div role="tabpanel">
                          <!-- Nav tabs -->
                          <ul class="nav nav-pills nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#{{patient.username}}active" aria-controls="{{patient.username}}active" role="tab" data-toggle="tab">Current</a></li>
                            <li role="presentation"><a href="#{{patient.username}}futureExpired" aria-controls="{{patient.username}}futureExpired" role="tab" data-toggle="tab">Upcoming &amp; Expired</a></li>
                          </ul>

                          <br />

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="{{patient.username}}active">
                              <!-- Active Medicines go here -->
                              {% for prescription in activePrescriptions[patient.username] %}
                                <button type="button" class="btn btn-success" style="height: 100px; width: 250px;" onclick="$('#prescription{{patient.username}}body').css('height', '650');$('#activeModal{{prescription.prescriptionid}}').modal('toggle');">
                                  {{prescription.medication}} <br />
                                  {{prescription.quantity}} x {{prescription.dosage}}{{prescription.dosageunit}} ({{prescription.frequency}}/{{prescription.frequencyunit}})
                                </button>

                                <!-- Active Prescription Modal -->
                                <div class="modal fade" id="activeModal{{prescription.prescriptionid}}" tabindex="-1" role="dialog" aria-labelledby="activeModal{{prescription.prescriptionid}}label" aria-hidden="true" data-backdrop="static">
                                  <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" onclick="$('#activeModal{{prescription.prescriptionid}}').modal('toggle');$('#prescription{{patient.username}}body').css('height', 'auto');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="activeModal{{prescription.prescriptionid}}label">{{patient.username}}'s {{prescription.medication}} ({{prescription.quantity}} x {{prescription.dosage}}{{prescription.dosageunit}})</h4>
                                      </div>
                                      <div class="modal-body" style="height: 650px;">
                                        <!-- Details of Medication -->
                                        <form class="form-horizontal" action="/updatePrescription" method="POST">
                                          <fieldset id="fieldset{{prescription.prescriptionid}}" disabled>
                                            <input type="hidden" value="{{prescription.prescriptionid}}" name="prescriptionid">
                                            <input type="hidden" value="{{patient.username}}" name="username">
                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Medication</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.medication}}" name="medication">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosage</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosage}}" name="dosage">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosage Unit</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosageunit}}" name="dosageunit">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Quantity</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.quantity}}" name="quantity">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Frequency</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.frequency}}" name="frequency">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Frequency Unit</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.frequencyunit}}" name="frequencyunit">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Start Date</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.startdate}}" name="startdate">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">End Date</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.enddate}}" name="enddate">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Repeat</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.repeat}}" name="repeat">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Stock Left</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.stockleft}}" name="stockleft">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Notes</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.prerequisite}}" name="prerequisite">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosage Form</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosageform}}" name="dosageform">
                                              </div>
                                            </div>

                                            <input class="btn btn-success" type="Submit" style="display:none;" value="Update" id="{{prescription.prescriptionid}}update" onclick="return confirm('Are you sure you want to update this prescription?')">
                                            <a class="btn btn-danger" style="display:none;" id="{{prescription.prescriptionid}}delete" href="/deletePrescription?id={{prescription.prescriptionid}}&username={{patient.username}}&username={{patient.username}}" onclick="return confirm('Are you sure you want to delete this prescription?')">Delete</a>
                                          </fieldset>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" onclick="$('#activeModal{{prescription.prescriptionid}}').modal('toggle');$('#prescription{{patient.username}}body').css('height', 'auto');">Back</button>
                                        <button type="button" class="btn btn-warning" onclick="$('#fieldset{{prescription.prescriptionid}}').prop('disabled', function(i, v) { return !v; });$('#{{prescription.prescriptionid}}update').toggle();$('#{{prescription.prescriptionid}}delete').toggle();">Edit</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              {% endfor %}
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="{{patient.username}}futureExpired">
                              <h5>Upcoming</h5>
                              {% for prescription in upcomingPrescriptions[patient.username] %}
                                <button type="button" class="btn btn-primary" style="height: 100px; width: 250px;" onclick="$('#prescription{{patient.username}}body').css('height', '650');$('#upcomingModal{{prescription.prescriptionid}}').modal('toggle');">
                                  {{prescription.medication}} <br />
                                  {{prescription.quantity}} x {{prescription.dosage}}{{prescription.dosageunit}} ({{prescription.frequency}}/{{prescription.frequencyunit}})<br />
                                  Starts on: {{prescription.startdate}}
                                </button>

                                <!-- Upcoming Prescription Modal -->
                                <div class="modal fade" id="upcomingModal{{prescription.prescriptionid}}" tabindex="-1" role="dialog" aria-labelledby="upcomingModal{{prescription.prescriptionid}}label" aria-hidden="true" data-backdrop="static">
                                  <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" onclick="$('#upcomingModal{{prescription.prescriptionid}}').modal('toggle');$('#prescription{{patient.username}}body').css('height', 'auto');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="upcomingModal{{prescription.prescriptionid}}label">{{patient.username}}'s {{prescription.medication}} ({{prescription.quantity}} x {{prescription.dosage}}{{prescription.dosageunit}})</h4>
                                      </div>
                                      <div class="modal-body" style="height: 650px;">
                                        <!-- Details of Medication -->
                                        <form class="form-horizontal" action="/updatePrescription" method="POST">
                                          <fieldset id="fieldset{
                                          {prescription.prescriptionid}}" disabled>
                                            <input type="hidden" value="{{prescription.prescriptionid}}" name="prescriptionid">
                                            <input type="hidden" value="{{patient.username}}" name="username">
                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Medication</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.medication}}" name="medication">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosage</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosage}}" name="dosage">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosage Unit</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosageunit}}" name="dosageunit">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Quantity</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.quantity}}" name="quantity">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Frequency</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.frequency}}" name="frequency">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Frequency Unit</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.frequencyunit}}" name="frequencyunit">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Start Date</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.startdate}}" name="startdate">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">End Date</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.enddate}}" name="enddate">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Repeat</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.repeat}}" name="repeat">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Stock Left</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.stockleft}}" name="stockleft">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Notes</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.prerequisite}}" name="prerequisite">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosage Form</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosageform}}" name="dosageform">
                                              </div>
                                            </div>

                                            <input class="btn btn-success" type="Submit" style="display:none;" value="Update" id="{{prescription.prescriptionid}}update" onclick="return confirm('Are you sure you want to update this prescription?')">
                                            <a class="btn btn-danger" style="display:none;" id="{{prescription.prescriptionid}}delete" href="/deletePrescription?id={{prescription.prescriptionid}}&username={{patient.username}}" onclick="return confirm('Are you sure you want to delete this prescription?')">Delete</a>
                                          </fieldset>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" onclick="$('#upcomingModal{{prescription.prescriptionid}}').modal('toggle');$('#prescription{{patient.username}}body').css('height', 'auto');">Back</button>
                                        <button type="button" class="btn btn-warning" onclick="$('#fieldset{{prescription.prescriptionid}}').prop('disabled', function(i, v) { return !v; });$('#{{prescription.prescriptionid}}update').toggle();$('#{{prescription.prescriptionid}}delete').toggle();">Edit</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              {% endfor %}
                              <h5>Expired</h5>
                              {% for prescription in expiredPrescriptions[patient.username] %}
                                <button type="button" class="btn btn-danger" style="height: 100px; width: 250px;" onclick="$('#prescription{{patient.username}}body').css('height', '650');$('#expiredModal{{prescription.prescriptionid}}').modal('toggle');">
                                  {{prescription.medication}} <br />
                                  {{prescription.quantity}} x {{prescription.dosage}}{{prescription.dosageunit}} ({{prescription.frequency}}/{{prescription.frequencyunit}})<br />
                                  Ended on: {{prescription.enddate}}
                                </button>

                                <!-- Upcoming Prescription Modal -->
                                <div class="modal fade" id="expiredModal{{prescription.prescriptionid}}" tabindex="-1" role="dialog" aria-labelledby="expiredModal{{prescription.prescriptionid}}label" aria-hidden="true" data-backdrop="static">
                                  <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" onclick="$('#expiredModal{{prescription.prescriptionid}}').modal('toggle');$('#prescription{{patient.username}}body').css('height', 'auto');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="expiredModal{{prescription.prescriptionid}}label">{{patient.username}}'s {{prescription.medication}} ({{prescription.quantity}} x {{prescription.dosage}}{{prescription.dosageunit}})</h4>
                                      </div>
                                      <div class="modal-body" style="height: 650px;">
                                        <!-- Details of Medication -->
                                        <form class="form-horizontal" action="/updatePrescription" method="POST">
                                          <fieldset id="fieldset{{prescription.prescriptionid}}" disabled>
                                            <input type="hidden" value="{{prescription.prescriptionid}}" name="prescriptionid">
                                            <input type="hidden" value="{{patient.username}}" name="username">
                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Medication</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.medication}}" name="medication">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosgae</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosage}}" name="dosage">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosage Unit</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosageunit}}" name="dosageunit">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Quantity</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.quantity}}" name="quantity">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Frequency</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.frequency}}" name="frequency">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Frequency Unit</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.frequencyunit}}" name="frequencyunit">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Start Date</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.startdate}}" name="startdate">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">End Date</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.enddate}}" name="enddate">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Repeat</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.repeat}}" name="repeat">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Stock Left</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.stockleft}}" name="stockleft">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Notes</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.prerequisite}}" name="prerequisite">
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">Dosage Form</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{prescription.dosageform}}" name="dosageform">
                                              </div>
                                            </div>

                                            <input class="btn btn-success" type="Submit" style="display:none;" value="Update" id="{{prescription.prescriptionid}}update" onclick="return confirm('Are you sure you want to update this prescription?')">
                                            <a class="btn btn-danger" style="display:none;" id="{{prescription.prescriptionid}}delete" href="/deletePrescription?id={{prescription.prescriptionid}}&username={{patient.username}}" onclick="return confirm('Are you sure you want to delete this prescription?')">Delete</a>
                                          </fieldset>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" onclick="$('#expiredModal{{prescription.prescriptionid}}').modal('toggle');$('#prescription{{patient.username}}body').css('height', 'auto');">Back</button>
                                        <button type="button" class="btn btn-warning" onclick="$('#fieldset{{prescription.prescriptionid}}').prop('disabled', function(i, v) { return !v; });$('#{{prescription.prescriptionid}}update').toggle();$('#{{prescription.prescriptionid}}delete').toggle();">Edit</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-success" id="{{patient.username}}_addPrescriptionButton" onclick='$("#{{patient.username}}_addPrescription").toggle("slow");'>Create new prescription</button>
                        <button class="btn btn-default" id="{{patient.username}}_donePrescriptions" onclick="$('#prescription{{patient.username}}').modal('toggle');">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
                <div class="col-md-6">
                  <!-- View Appointments -->
                  <a onclick='$("#appointments{{patient.username}}").modal("toggle")'>
                    <div style="height:25px;">
                      <p style="line-height: 20px;font-size: 20px;">
                        <i class="fa fa-calendar"></i> Appointments
                      </p>
                    </a>
                    </div>
                      <div class="modal fade" id="appointments{{patient.username}}" tabindex="-1" role="dialog" aria-labelledby="appointments{{patient.username}}Label" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title" id="appointments{{patient.username}}Label">{{patient.firstname}} {{patient.surname}}'s Appointments</h4>
                            </div>
                            <div class="modal-body">
                              <button class="btn btn-success" onclick='$("#{{patient.username}}_newAppointment").toggle("slow")'>Create new appointment</button>
                              <br /><br />
                              <table class="table">
                                <thead>
                                  <th>Name</th>
                                  <th>Type</th>
                                  <th>Where</th>
                                  <th>End Date/Time</th>
                                  <th>Description</th>
                                  <th>Response</th>
                                  <th> </th>
                                  <th> </th>

                                </thead>
                                <tbody>
                                  {% for appointment in appointmentsMapping[patient.username] %}
                                  <tr>
                                    <td>{{appointment.name}}</td>
                                    <td>{{appointment.apptype}}</td>
                                    <td>{{appointment.addressnamenumber}}, {{appointment.postcode}}</td>
                                    <td>{{appointment.enddate}} {{appointment.endtime}} </td>
                                    <td>{{appointment.description}}</td>

                                    {% if appointment.creator == session['username'] %}
                                      {% if appointment.accepted == true %}
                                        <td>Accepted</td>
                                      {% endif %}
                                      {% if appointment.accepted == false %}
                                        <td>Decline</td>
                                      {% endif %}
                                      {% if appointment.accepted == none %}
                                        <td>Not Responded</td>
                                      {% endif %}
                                    {% else %}
                                        <td> - </td>
                                    {% endif %}

                                    {% if appointment.creator != session['username'] %}
                                    <td>
                                      <button class="btn btn-warning[disabled]" data-toggle="tooltip" data-placement="left" title="You did not create this appointment.">Update</button>
                                    </td>
                                    <td>
                                      <button class="btn btn-danger[disabled]" data-toggle="tooltip" data-placement="right" title="You did not create this appointment.">Delete</button>
                                    </td> 
                                    {% else %}
                                    <td> <a href="/updateAppointment?appid={{appointment.appid}}">
                                        <button class="btn btn-warning">Update</button>
                                          </a>
                                    </td>
                                    <td>
                                      <form action="/deleteAppointment" method="GET" onsubmit="return confirm('Are you sure you want to delete this appointment?');">
                                        <input type="hidden" name="appid" value="{{appointment.appid}}">
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                      </form>
                                    </td>
                                    {% endif %}

                                  <tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              <!--This shows the form for to add a new appointments-->
                              <div role="tabpanel" style="display:none" id="{{patient.username}}_newAppointment">
                                <div class="row">
                                  <div class="panel panel-info">
                                    <div class="panel-body">
                                      <form name="createAppointment" method="POST" action="/inviteeappointments">
                                        <input name="username" type="hidden" value="{{patient.username}}">
                                        <input name="creator" type="hidden" value="{{session.username}}">
                                        <div class="form-group">
                                          <label for="name">Title</label>
                                          <input class="form-control" type="text" name="name">
                                        </div>
                                        <div class="form-group">
                                          <input name="apptype" type="hidden" value="Carer">
                                        </div>
                                        <div class="form-group">
                                          <label for="addressnamenumber">Building Name/Number</label>
                                          <input class="form-control" type="text" name="addressnamenumber">
                                        </div>
                                        <div class="form-group">
                                          <label for="postcode">Postcode</label>
                                          <input class="form-control" type="text" name="postcode">
                                        </div>
                                        <div class="form-group">
                                          <label for="datefrom">Start Date</label>
                                          <input class="form-control" type="date" name="startdate" id="startdateappt">
                                          <span id="datevalidate1"></span>
                                        </div>
                                        <div class="form-group">
                                          <label for="starttime">Start Time</label>
                                          <input class="form-control" type="time" name="starttime" id="starttime">
                                        </div>
                                        <div class="form-group">
                                          <label for="dateto">End Date</label>
                                          <input class="form-control" type="date" name="enddate" id="dateto">
                                        </div>
                                        <div class="form-group">
                                          <label for="endtime">End Time</label>
                                          <input class="form-control" type="time" name="endtime" id="endtime">
                                        </div>
                                        <div class="form-group">
                                          <label for="other">Details</label>
                                          <textarea class="form-control" name="description" id="other"></textarea>
                                        </div>
                                        <div class="form-group">
                                          <input class="btn btn-success pull-right" type="submit" value="Add Appointment">
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="row">
                    <div class="col-md-6">
                      <!-- Notes -->
                      <a href="/notes?user={{patient.username}}">
                        <div style="height:25px;">
                          <p style="line-height:20px;font-size:20px;">
                            <i class="fa fa-pencil"></i>Notes
                          </p>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
    {% endfor %}
  </div>
</fieldset>
{% endblock %}
