{% extends "template.html" %}

{% block title %}Update Appointment{% endblock %}

{% block scriptsAndStyles %}
<script>

	// true = Pass, false = Fail
	var validationPass = true;
 
  function checkAppointmentDate(element, type) {
  	result = checkDate(element, type);
  	if (validationPass && !result) {
  		validationPass = result;
  	}
  }

  function checkAppointmentStartEnd(start, end, appointment) {
  	result = checkStartEnd($('#dateFrom'),$('#dateTo'),'Appointment');
  	if (validationPass && !result) {
  		validationPass = result;
  	}
  }

  function checkAppointmentTime(element, type) {
  	result = checkTime(element, type);
    if (validationPass && !result) {
    	validationPass = result;
  	}
  }

	function enddatefunction() {
		checkAppointmentDate($('#dateTo'), "End");
		checkAppointmentStartEnd($('#dateFrom'), $('dateTo'), "Appointment");
	}

	$(document).ready(function() {
		$('#createAppointmentForm').submit(function(e) {
			if (!formcheck1()) {
				e.preventDefault();
				return false;
			}
			if (!validationPass) {
				e.preventDefault();
				alert('Please check the form for errors');
				return false;
			}
		});
	});
</script>
{% endblock %}

{% block content %}
<div>
	<fieldset class ="form-container">
        <i class=" fa fa-pencil-square-o headingIcon pull-left"> </i> 
        <h4>Update Appointment</h4>
        <hr />
        
        <!--form to update appointments -->
        <form name="createAppointment" method="POST" action="/patientUpdateAppointment" id="createAppointmentForm">
            {% for app in request %}
                <div class="form-group">
                    <input class="hidden" type="text" name="appid" value="{{app.appid}}" readonly="true">
                </div>
            
            <div class="form-group appt-item-required">
                <label for="name">Appointment Title<sup style="color:red">*</sup></label>
                <input class="form-control input-sm" type="text" name="name" value="{{app.name}}">
            </div>

            <div class="form-group appt-item-required">
                <label for="type">Appointment Type<sup style="color:red">*</sup></label>
                <select name="type" class="form-control input-sm">
                <option class="placeholder" selected> {{app.apptype}}</option>
            {% for type in appType %}
                <option>{{type.type}}</option>
            {% endfor %}
                </select>
            </div>

            <div class="form-group appt-item-required">
                <label for="nameNumber">Building Name/Number<sup style="color:red">*</sup></label>
                <input class="form-control input-sm" type="text" name="nameNumber" value="{{app.addressnamenumber}}">
            </div>
            
            <div class="form-group appt-item-required">
                <label for="postcode">Postcode<sup style="color:red">*</sup></label>
                <input class="form-control input-sm" type="text" name="postcode" value="{{app.postcode}}">
            </div>
            
            <div class="form-group appt-item-required">
                <label class="control-label" for="dateFrom">Start Date<sup style="color:red">*</sup> <span style="color:gray">(dd/mm/yyyy)</span></label>
                <input class="form-control input-sm" type="date" name="dateFrom" id="dateFrom" value="{{app.startdate}}" onkeyup="checkAppointmentDate($(this), 'Start');">
            </div>
            
            <div class="form-group appt-item-required">
                <label class="control-label" for="startTime">Start Time<sup style="color:red">*</sup></label>
                <input class="form-control input-sm" type="time" name="startTime" id="startTime" value="{{app.starttime}}" onkeyup="checkAppointmentTime($(this), 'Start');">
            </div>
            
            <div class="form-group appt-item-required">
                <label class="control-label" for="dateTo">End Date<sup style="color:red">*</sup> <span style="color:gray">(dd/mm/yyyy)</span></label>
                <input class="form-control input-sm" type="date" name="dateTo" id="dateTo" value="{{app.enddate}}" onkeyup="enddatefunction();">
            </div>
            
            <div class="form-group appt-item-required">
                <label class="control-label" for="endTime">End Time<sup style="color:red">*</sup></label>
                <input class="form-control input-sm" type="time" name="endTime" id="endTime" value="{{app.endtime}}" onkeyup="checkAppointmentTime($(this), 'End');">
            </div>
            
            <div class="form-group">
                <label for="other">Details</label>
                <textarea class="form-control input-sm" name="other" id="other">{{app.description}}</textarea>
            </div>
            
            <div class="form-group">
                <input type="checkbox" name="private" value="True" checked="{{app.private}}"> Tick to make the appointment private
            </div>
        
            <div class="form-group">
                <input class="hidden" value="{{previousLocation}}" name="whereFrom">
                <input class="btn btn-success pull-right" type="submit" value="Update Appointment">
            </div>

		  {% endfor %}
		</form>

		<button class="btn btn-default pull-right" style="margin-right:5px;" onclick="goBack()">Cancel</button>

		<br />
		<br />
	</fieldset>
</div>
{% endblock %}
