{% extends "template.html" %}

{% block title %}Patient Notes{% endblock %}

{% block scriptsAndStyles %}


{% endblock %}

{% block content %}

<fieldset class ="form-container">
  <i class="fa fa-pencil headingIcon pull-left"></i><h4 class= "pull-left">Your Notes: {{patient}}</h4>
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% for note in notes %}
          <h5><strong>Title: </strong>{{note.title}}</h5>
          <p><strong>Comment: </strong></p>
          <p>{{note.notes}}</p>
          <p><strong>Date Posted: </strong></p>
          <p>{{note.datetime}}</p>
          <br />
          <br />
          <hr />
        {% endfor %}
      </div>
               
 </fieldset>
{% endblock %}
