{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block scriptsAndStyles %}{% endblock %}

{% block content %}
<h2>Welcome, {{printname}}</h2>

<br />
<!-- tile layout 3 by 3 containers -->
<!--Row 1 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-md-4">
			<a class="thumbnail" href= "/profile">
				<i class="fa fa-user largeIcon"></i>
			</a>
		</div>
	​
		<div class="col-xs-4 col-md-4">
			<a class="thumbnail">
				<i class="fa fa-clock-o largeIcon"></i>
			</a>
		</div>​

		<div class="col-xs-4 col-md-4">
			<a class="thumbnail">
				<i class="fa fa-exclamation-circle largeIcon"></i>
			</a>
		</div>​
	</div>

<!--Row 2 -->
	<div class="row">
		<div class="col-xs-4 col-md-4">
			<a class="thumbnail">
				<i class="fa fa-heart largeIcon"></i>
			</a>
		</div>​

		<div class="col-xs-4 col-md-4">
			<a class="thumbnail">
				<i class="fa fa-info largeIcon"></i>
			</a>
		</div>​

		<div class="col-xs-4 col-md-4">
			<a class="thumbnail" href= "/search">
				<i class="fa fa-search largeIcon"></i>
			</a>
		</div>​
	</div>

<!--Row 3 -->
	<div class="row">
		<div class="col-xs-4 col-md-4">
			<a class="thumbnail" href= "/prescriptions">
				<i class="fa fa-flask largeIcon"></i>
			</a>
		</div>​

		<div class="col-xs-4 col-md-4">
			<a class="thumbnail">
				<i class="fa fa-ellipsis-h largeIcon"></i>
			</a>
		</div>​

		<div class="col-xs-4 col-md-4">
			<a class="thumbnail">
				<i class="fa fa-cog largeIcon"></i>
			</a>
		</div>​
	</div>
</div>
{% endblock %}
