{% extends "template.html" %}

{% block title %}My Appointments{% endblock %}

{% block scriptsAndStyles %}
<script>
  // true = Pass, false = Fail
  var validationPass = true;
 
  function checkAppointmentDate(element, type) {
    result = checkDate(element, type);
    if (validationPass && !result) {
      validationPass = result;
    }
  }

  function checkAppointmentStartEnd(start, end, appointment) {
    result = checkStartEnd($('#dateFrom'),$('#dateTo'),'Appointment');
    if (validationPass && !result) {
      validationPass = result;
    }
  }

  function checkAppointmentTime(element, type) {
    result = checkTime(element, type);
    if (validationPass && !result) {
      validationPass = result;
    }
  }

  function enddatefunction() {
    checkAppointmentDate($('#dateTo'), "End");
    checkAppointmentStartEnd($('#dateFrom'), $('dateTo'), "Appointment");
  }

  $(document).ready(function() {
    $('#createAppointmentForm').submit(function(e) {
      if (!formcheck1()) {
        e.preventDefault();
        return false;
      }
      if (!validationPass) {
        e.preventDefault();
        alert('Please check the form for errors');
        return false;
      }
    });
  
    $('time').each(function(i, e) {
      var time = moment($(e).attr('datetime'));
      $(e).html('<span>' + time.calendar() + '</span>');
    });

    //Shows confirm box on delete appointment
    $("#deleteapp").click(function(e) {
      if (!confirm('Are you sure you want to delete this appointment?')) {
        e.preventDefault();
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<fieldset class ="form-container">

  <i class="fa fa-calendar headingIcon pull-left"></i><h4 class ="pull-left">Your Appointments</h4>
  <a data-toggle="modal" data-target="#references" class="btn btn-success pull-right bold"> Create</a> 

  <!--Modal to create a new appointment -->
  <div class="modal fade" id="references" tabindex="-1" role="dialog" aria-labelledby="references" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="terms">Create a new appointment</h4>
        </div>
        <div class="modal-body">
          <form name="createAppointment" id="createAppointmentForm" method="POST">
          <div class="form-group appt-item-required">
            <label for="name">Appointment Title<sup style="color:red">*</sup></label>
            <input class="form-control" type="text" name="name">
          </div>
          <div class="form-group appt-item-required">
            <label for="apptype">Appointment Type<sup style="color:red">*</sup></label>
            <select name="apptype" class="form-control">
              <option class="placeholder" disabled selected> -- Please select an appointment type -- </option>
              {% for type in appType %}
                <option>{{type.type}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group appt-item-required">
            <label for="addressnamenumber">Building Name/Number<sup style="color:red">*</sup></label>
            <input class="form-control" type="text" name="addressnamenumber">
          </div>
          <div class="form-group appt-item-required">
            <label for="postcode">Postcode<sup style="color:red">*</sup></label>
            <input class="form-control" type="text" name="postcode">
          </div>
          <div class="form-group appt-item-required">
            <label class="control-label" for="startdate">Start Date<sup style="color:red">*</sup></label>
            <input class="form-control" type="date" name="startdate" id="dateFrom" onkeyup="checkAppointmentDate($(this), 'Start');">
          </div>
          <div class="form-group appt-item-required">
            <label class="control-label" for="starttime">Start Time<sup style="color:red">*</sup></label>
            <input class="form-control" type="time" name="starttime" id="starttime" onkeyup="checkAppointmentTime($(this), 'Start');">
          </div>
          <div class="form-group appt-item-required">
            <label class="control-label" for="enddate">End Date<sup style="color:red">*</sup></label>
            <input class="form-control" type="date" name="enddate" id="dateTo" onkeyup="enddatefunction();">
          </div>
          <div class="form-group appt-item-required">
            <label class="control-label" for="endtime">End Time<sup style="color:red">*</sup></label>
            <input class="form-control" type="time" name="endtime" id="endtime" onkeyup="checkAppointmentTime($(this), 'End');">
          </div>
          <div class="form-group">
            <label for="description">Details</label>
            <textarea class="form-control" name="description" id="description"></textarea>
          </div>
          <div class="form-group">
            <label for="private">Tick to mark this appointment private  </label>
            <input type="checkbox" name="private" id="private">
          </div>
          <div class="modal-footer">
            <input class="btn btn-success pull-right" type="submit" value="Add Appointment">
          </div>
        </form>
          <br />
        </div>
      </div>
    </div>
  </div>

  <hr>
	<br />

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class=flashes>
      {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible" role="alert">
        <button type="button" class="close btn btn-danger" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{message}}
        </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <!--{% if request != None %}
    <div class="alert alert-{{type}} alert-dismissible" role="alert">
      <button type="button" class="close btn btn-danger" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{request}}
    </div>
  {% endif %}-->

  <div role="tabpanel">
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation" class="active"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming</a></li>
      <li role="presentation"><a href="#archived" aria-controls="archived" role="tab" data-toggle="tab">Past</a></li>
    </ul>
    <br />
  </div>

  <!--Upcoming appointments -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active container" id="upcoming" style="width: 100%">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" id="upcoming">
        {% block upcoming %}
          {% for appointment in appointments %}
            {% if appointment.upcoming == True %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{appointment.appid}}">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{appointment.appid}}" aria-expanded="true" aria-controls="collapse{{appointment.appid}}">
                      <div class="row">
                        <div class="col-md-6">
                          <p>{{appointment.name}}
                          {% if appointment.creator != session['username'] %}
                            {% if appointment.accepted == false %}
                              <font color="red">[Declined]</font> </p>
                            {% endif %}
                          {% else %}
                            {% if appointment.invitee != none %}
                              {% if appointment.accepted == false %}
                                <font color="red">[{{appointment.invitee}} declined]</font>
                              {% endif %}
                            {% endif %}
                            </p>
                          {% endif %}

                        </div>
                        <div class="col-md-6">
                          <time class="pull-right vertical-center" datetime="{{appointment.startdate}}T{{appointment.starttime}}"></time>
                        </div>
                      </div>
                    </a>
                  </h3>
                  <div id="collapse{{appointment.appid}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{appointment.appid}}">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          {% if appointment.creator != session['username'] %}
                            <p><b>Invited By: </b> <br /> {{appointment.creator}} </p>
                          {% endif %} 
                          <p><b>Type:</b> <br /> {{appointment.apptype}}</p>
                          <p><b>End Date/Time:</b> <br /> {{appointment.enddate}} {{appointment.endtime}}</p>
                          <p><b>Description:</b> <br /> {{appointment.description}}</p><br />

                          {% if appointment.invitee != "" %}
                            {% if appointment.invitee != session['username'] %}
                              {% if appointment.accepted == true %}
                                <p><em>{{appointment.invitee}} has accepted this appointment.</em></p>
                              {% endif %}
                              {% if appointment.accepted == false %}
                                <p><em>{appointment.invitee}} has declined this appointment.</em></p>
                              {% endif %}
                              {% if appointment.accepted == none %}
                                <p><em>{{appointment.invitee}} has yet to respond to this appointment.</em></p>
                              {% endif %}
                            {% endif %}
                            {% if appointment.invitee == session['username'] %}
                              {% if appointment.accepted == true %}
                                <p><em>You have accepted this appointment.</em></p>
                              {% endif %}
                              {% if appointment.accepted == false %}
                                <p><em>You have declined this appointment.</em></p>
                              {% endif %}
                              {% if appointment.accepted == none %}
                                <p><em>You have yet to respond to this appointment.</em></p>
                              {% endif %}
                            {% endif %}
                          {% endif %}    

                          {% if appointment.creator == session['username'] %}
                            {% if appointment.invitee == "" %}
                              {% if appointment.private == true %}
                                <p><em>This appointment is marked as private, your connections will not be able to see this. You can change this by updating  your appointment.</em></p> <br />
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        </div>
                        <div class="col-md-6">
                          <p class="pull-right"><b>Where:</b> {{appointment.addressnamenumber}}, {{appointment.postcode}}</p>
                          <iframe class="pull-right" width="200" height="200" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyARU2N1Scb1Skv2Zz1fh9yHBw5awp2S0og&zoom=14&q={{appointment.postcode}}">
                          </iframe>
                        </div>
                      </div>
                      <div class="row">
                        {% if appointment.creator != session['username'] %}
                          <div class="col-md-2">
                            <a href="/appointmentDetails?id={{appointment.appid}}">
                              <button class="btn btn-info">Accept/Decline</button>
                            </a>
                          </div>
                          <div class="col-md-10">
                            <p></p>
                          </div>
                        {% else %}
                          <div class="col-md-2">
                            <a href="/updateAppointment?appid={{appointment.appid}}">
                              <button class="btn btn-warning">Update</button>
                            </a>
                          </div>
                          <div class="col-md-2">
                            <form action="/deleteAppointment" method="GET">
                              <input type="hidden" name="appid" value="{{appointment.appid}}">
                              <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this appointment?')"><i class="fa fa-trash-o" style="font-size: 1.7em;"></i></button>
                            </form>
                          </div>
                          <div class="col-md-8">
                            <p></p>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endblock %}
      </div>
    </div>
  
    <!--Tab for archived appointments -->
    <div role="tabpanel" class="tab-pane fade in container" id="archived" style="width: 100%">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" id="archived">
        {% block archived %}
          {% for appointment in appointments|sort(reverse=True, attribute='startdate') %}
            {% if appointment.upcoming == False %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{appointment.appid}}">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{appointment.appid}}" aria-expanded="true" aria-controls="collapse{{appointment.appid}}">
                      <div class="row">
                        <div class="col-md-6">
                          <p>{{appointment.name}}</p>
                        </div>
                        <div class="col-md-6">
                          <time class="pull-right vertical-center" datetime="{{appointment.startdate}}T{{appointment.starttime}}"></time>
                        </div>
                      </div>
                    </a>
                  </h3>
                  <div id="collapse{{appointment.appid}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{appointment.appid}}">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p><b>Type:</b> <br /> {{appointment.apptype}}</p>
                          <p><b>End Date/Time:</b> <br /> {{appointment.enddate}} {{appointment.endtime}}</p>
                          <p><b>Description:</b> <br /> {{appointment.description}}</p>
                        </div>
                        <div class="col-md-6">
                          <p class="pull-right"><b>Where:</b> {{appointment.addressnamenumber}}, {{appointment.postcode}}</p>
                          <iframe class="pull-right" width="200" height="200" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyARU2N1Scb1Skv2Zz1fh9yHBw5awp2S0og&zoom=14&q={{appointment.postcode}}">
                          </iframe>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <a href="/updateAppointment?appid={{appointment.appid}}">
                            <button class="btn btn-warning">Update</button>
                          </a>
                        </div>
                        <div class="col-md-2">
                          <form action="/deleteAppointment" method="GET">
                            <input type="hidden" name="appid" value="{{appointment.appid}}">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this appointment?')"><i class="fa fa-trash-o" style="font-size: 1.7em;"></i></button>
                          </form>
                        </div>
                        <div class="col-md-8">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endblock %}
      </div>
    </div>
  </div>
</fieldset>
{% endblock %}
