{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block scriptsAndStyles %}{% endblock %}

{% block content %}
<fieldset class ="form-container">

<h2>Prescriptions</h2>
<hr>
<!--List format to display a patients prescritpions -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {%for prescription in prescriptions%}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{prescription.prescriptionid}}">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{prescription.prescriptionid}}" aria-expanded="true" aria-controls="collapse{{prescription.prescriptionid}}">
          <h4>{{prescription.medication}}:</h4> Take {{prescription.quantity}} x {{prescription.dosage}} {{prescription.dosageunit}} {{prescription.dosageform}} {{prescription.frequency}} x a {{prescription.frequencyunit}}
        </a>
      </h3>
      <div id="collapse{{prescription.prescriptionid}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{prescription.prescriptionid}}">
        <div class="panel-body">
          <div class="row">
            <h5>
              <ul>
                <li>Start Date: {{prescription.startdate}}</li>
                <li>End Date: {{prescription.enddate}}</li>
                <li>Extra Info: {{prescription.prerequisite}}</li>
                <li>Repeat: {{prescription.repeat}} </li>
              </ul>
            </h5>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
</div>
</fieldset>
{% endblock %}
