{% extends "template.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h2>JustHealth Privacy Policy </h2>
<ol>

<li>What personal information do we collect from the people that visit our blog, website or app?
  <br />

When registering on our site, you will be asked to enter your name, email address, health care or other details to help you with your experience.
</li>
<br />
<li>
When do we collect information? <br />

We collect information from you when you register on our site or enter information on our site.
</li>
<br />
<li>
How do we use your information?<br />
To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.
</li>
<br />
<li>
How do we protect visitor information?<br />

Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.

Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.

We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.
</li>
<br />
<li>

Do we use 'cookies'? <br />

We do not use cookies for tracking purposes

You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.

If you disable cookies off, some features will be disabled that make your site experience more efficient and some of our services will not function properly.

</li>
<br />
<li>


Third Party Disclosure<br />

We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.

However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.

</li>
<br />
<li>
Third party links <br />

We do not include or offer third party products or services on our website.
</li>
<br />



</ol>

{% endblock %}
