{% extends "template.html" %}

{% block title %}Registration{% endblock %}

{% block scriptsAndStyles %}
<script>
$(document).ready(function() {
	//check password strength
	//keyup event on password field so code will execute on every keypress
	$('#password').keyup(function() {
		$('#result').html(checkStrength($('#password').val()));
	});

	//check if email is valid
	//focus out: validation is performed when different field is active
	$('#validateEmail').focusout(function() {
		if(validateEmail($('#validateEmail').val())) {
			//show message if email is valid
			$('#emailValidate').html('<i class="fa fa-check"></i> Email is valid').addClass('rightInputs');
		}
		else {
			//show message if email is not valid
			$('#emailValidate').html('<i class="fa fa-times"></i> Email is not valid').addClass('wrongInputs');
		}
	});

	$('form').submit(function(e) {
		$("form :input").each(function(){
			if ($(this).val() == null || $(this).val() == "") {
				alert("All fields must be filled out");
				e.preventDefault();
				return false;
			}
		});
	});

	//check if date format is valid
	$('#validateDOB').focusout(function() {
		if(validateDOB($('#validateDOB').val())) {
			//alert user that date format is invalid
			alert("Date not valid");
		}
	});
});
</script>
{% endblock %}

{% block content %}

<h2>Registration</h2>
<form name="register" action="/register" id="register" method="POST">
	<!-- Display any messages -->
	{% if message != null %}
		<div class="alert alert-{{type}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{{message}}
		</div>
	{% endif %}

  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username">
  </div>

  <div class="form-group">
    <label for="firstname">First Name</label>
    <input class="form-control" type="text" name="firstname">
  </div>

  <div class="form-group">
    <label for="surname">Surname</label>
    <input class="form-control" type="text" name="surname">
  </div>

  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input class="form-control" type="date" name="dob" id="validateDOB">
		<span id="DOBValidation"></span>
  </div>

  <div class="form-group">
    <label for="isMale">Gender </label>
    <input class="" type="radio" name="ismale" value="true"> Male&nbsp;
    <input class="" type="radio" name="ismale" value="false"> Female&nbsp;
	</div>

  <div class="form-group">
    <label for="accounttype">Account Type</label>
    <select name="accounttype" class="form-control">
    	<option class="placeholder" disabled selected> -- Please select an account type -- </option>
    	<option value="patient">Patient</option>
    	<option value="carer">Carer</option>
    </select>
  </div>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input class="form-control" type="text" id="validateEmail" name="email">
		<span id="emailValidate"></span>
	</div>

  <div class="form-group">
  	<label for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password">
		<span id="result"></span>
  </div>

  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input class="form-control" type="password" id="confirmPassword" name="confirmpassword" onkeyup="passwordCheck(); return false;">
		<span id="confirmationMessage"></span>
  </div>

	<div class="form-group checkbox">
		<input type="checkbox" name="terms"> I accept the <a data-toggle="modal" data-target="#terms">terms and conditions <i class="fa fa-file"></i></a>
	</div>

	<div class="form-group">
		<input class="btn btn-default pull-right" type="submit" value="Register">
		<br />
	</div>
</form>

	<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="termsLabel">JustHealth Terms and Conditions</h4>
				</div>
				<div class="modal-body">
				<ol>
					<li>Any data that is given to JustHealth may be processed by JustHealth to improve the ease of use, performance and/or functionality of the application.
					</li> <br/>
					<li>The data stored by JustHealth will not be passed to any third parties without the consent of the data subject.
					</li> <br/>
					<li>A user’s data may be viewed by their carer, relative, doctor and pharmacist but will not be visible to anyone that isn’t approved to view the data.
					</li> <br/>
					<li>It is the responsibility of the user to ensure that the information that JustHealth holds about them is accurate and up to date. This is not the responsibility of JustHealth or any of its affiliated parties.
					</li> <br/>
					<li>JustHealth will keep all data for the time that a data subject’s account is active; all of the data that JustHealth will hold about a user will be viewable within the mobile and web application.
					</li> <br/>
					<li>When a data subject deactivates their account with JustHealth they will be able to request to have their information removed from the centralised database. This will impact account reactivation.
					</li> <br/>
					<li>A data subject may request the personal data that JustHealth hold about them but this will only be able to be sent to the user within the UK by the postal service. This will not be sent by any other means.
					</li> <br/>
					<li>Users that download data from outside the UK will do so at their own risk and this will not be the responsibility of JustHealth. Any information that JustHealth will hold about a data subject will be stored within the UK.
					</li>
				</ol>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
