{% extends "template.html" %}

{% block title %}Reset Password{% endblock %}

{% block scriptsAndStyles %}
<!--javaScript to validate the page -->
<script>
$(document).ready(function() {
	$('form').submit(function(e) {
		if (!validateForm()) {
			e.preventDefault();
			alert("All fields must be filled out")
		}
	});

	//check password strength
	//keyup event on password field so code will execute on every keypress
	$('#password').keyup(function() {
		$('#result').html(checkStrength($('#password').val()));
	});

});
</script>
{% endblock %}

{% block logoutBtn %}{% endblock %}

{% block content %}
<fieldset class ="form-container">
<i class="fa fa-lock headingIcon pull-left"></i><h4>Expiring Password</h4>
<br />
<h5>{{message}}</h5>
<p>{{submessage}}</p>
<br />
<fieldset class="register-inner">
<!--form starts -->
  <h5>Your password is going to expire very soon. Do you want to change your password now?</h5>
  <a href="/expiredpassword"> <button class="btn btn-success pull-right btn-margin">Yes, Reset Now</button></a>
  <a href="/login"><button class="btn btn-danger pull-right btn-margin">No, Not Now</button></a>

</fieldset>

  <br/>
	<!--Link back to login page -->
  <a href="/login">Back to login</a>
</fieldset>
{% endblock %}
