{% extends "template.html" %}

{% block title %}Reset Password{% endblock %}

{% block scriptsAndStyles %}
<!--javaScript to validate the page -->
<script>
$(document).ready(function() {
	$('form').submit(function(e) {
		if (!validateForm()) {
			e.preventDefault();
			alert("All fields must be filled out")
		}
	});

	//check password strength
	//keyup event on password field so code will execute on every keypress
	$('#password').keyup(function() {
		$('#result').html(checkStrength($('#password').val()));
	});

	//check if email is valid
	//focus out: validation is performed when different field is active
	$('#validateEmail').focusout(function() {
		if(validateEmail($('#validateEmail').val())) {
			//show message if email is valid
			$('#emailValidate').html('<i class="fa fa-check"></i> Email is valid').addClass('rightInputs');
		}
		else {
			//show message if email is not valid
			$('#emailValidate').html('<i class="fa fa-times"></i> Email is not valid').addClass('wrongInputs');
		}
	});

	//check if date format is valid
	$('#validateDOB').focusout(function() {
		if(validateDOB($('#validateDOB').val())) {
			//alert user that date format is invalid
			alert("Date not valid")
		}
	});
});
</script>
{% endblock %}

{% block logoutBtn %}{% endblock %}

{% block content %}
<h2>Reset Password</h2>
<h5>Please enter your username below to be sent an email to reset your password</h5>
<br />
<!--Automatically fills in the users username -->
{% if message != null %}
	<div class="alert alert-{{type}} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		{{message}}
	</div>
{% endif %}
<!--form starts -->
  <form name= "resetpassword" action="/resetpassword" method="POST" onsubmit="return !!(validateFormResetPassword() & validateEmailResetPassword() & validateDob());" >
    <div class="form-group">
    	<div class="form-group">
        	<label for="username">Username</label>
        	<input class="form-control" type="text" name="username" value="{{user}}" readonly="readonly">
    	</div>
    	<div class="form-group">
        	<label for="confirmemail">Email Address</label>
        	<input class="form-control" type="text" name="confirmemail" id="validateEmail" oninput="validateEmailResetPassword()" onsubmit="return !!(validateFormResetPassword() & validateEmailResetPassword() & validateDob());">
            <span id="emailValidate"></span>
        </div>
        <div class="form-group">
       	 	<label for="newpassword">New Password</label>
        	<input class="form-control" type="password" id="password" name="newpassword">
			<span id="result"></span>
    	</div>

    	<div class="form-group">
        	<label for="confirmnewpassword">Confirm New Password</label>
        	<input class="form-control" type="password" id="confirmPassword" name="confirmnewpassword" onkeyup="passwordCheck(); return false;">
			<span id="confirmationMessage"></span>
    	</div>
    	<div class="form-group">
        	<label for="confirmdob">Confirm Date of Birth</label>
        	<input class="form-control" type="date" name="confirmdob" id="validateDOB">
    	</div>
    </div>
    <input class="btn btn-default" type="submit" value="Submit">
  </form>

  <br/>
	<!--Link back to login page -->
  <a href="/login">Back to login</a>
{% endblock %}
