{% extends "template.html" %}

{% block title %}Reset Password{% endblock %}

{% block scriptsAndStyles %}
  <script type="text/javascript">
    // true == passing, false = failing
    

    var emailCheck;
    var dobCheck;
    var confirmPasswordCheck;

    function runDateOfBirthCheck(element) {
      dobCheck = checkDateOfBirth(element);
    }

    function validateEmailCheck() {
      var email = $('#email');
      emailCheck = validateEmail($(email).val());
      
      if (emailCheck) {
        $(email).siblings("label").html("Valid Email");
        $(email).parent().removeClass('has-error');
        $(email).parent().addClass('has-success');
      }
      else {
        $(email).siblings("label").html("Invalid Email");
        $(email).parent().removeClass('has-success');
        $(email).parent().addClass('has-error');
      }
    }

    function passwordCheck() {
      var password = $('#password');
      var confirmPassword = $('#confirmPassword');

      var strength = checkStrength($(password).val());
      
      $(password).siblings("label").html("Your password strength is " + strength);
      if (strength == "Weak") {
        $(password).parent().removeClass('has-warning');
        $(password).parent().removeClass('has-success');
        $(password).parent().addClass('has-error');
      }
      else if (strength == "Good") {
        $(password).parent().removeClass('has-error');
        $(password).parent().removeClass('has-success');
        $(password).parent().addClass('has-warning');
      }
      else if (strength == "Strong"){
        $(password).parent().removeClass('has-warning');
        $(password).parent().removeClass('has-error');
        $(password).parent().addClass('has-success');
      }

      if ($(confirmPassword).val() == $(password).val()) {
        $(confirmPassword).siblings("label").html("Your passwords match");
        $(confirmPassword).parent().removeClass('has-error');
        $(confirmPassword).parent().addClass('has-success');
        confirmPasswordCheck = true;
      }
      else {
        $(confirmPassword).siblings("label").html("Your passwords do not match");
        $(confirmPassword).parent().removeClass('has-success');
        $(confirmPassword).parent().addClass('has-error');
        confirmPasswordCheck = false;
      }
    }

    function validateForm() {
      var success = true;
      $('.check').each(function() {
        if ($(this).val().trim() === '' )
          success = false;
        });
      return success;
    }

    $(document).ready(function() {
      $('#resetPassword').submit(function (e) {
        if (!validateForm()) {
          e.preventDefault();
          alert("All fields must be filled out");
          return false;
        }
        if (!confirmPasswordCheck || !emailCheck || !dobCheck) {
          e.preventDefault();
          alert("Please check the form for errors");
          return false;
        }
      });
    });
  </script>
{% endblock %}

{% block logoutBtn %}{% endblock %}

{% block content %}
  <fieldset class ="form-container">
    <i class="fa fa-lock headingIcon pull-left"></i><h4>Reset Password</h4>
    <hr />
    
    <h5>You can change your password using the form below, we'll send you a link in an email to verify this new one!</h5>
    
    <br />
    
    <!--Automatically fills in the users username -->
    {% if message != null %}
      <div class="alert alert-{{type}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{message}}
      </div>
    {% endif %}
    
    <fieldset class="register-inner">
      <!--form starts -->
      <form name="resetpassword" action="/resetpassword" method="POST" id="resetPassword">
        <div class="form-group">
          
          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control input-sm check" type="text" name="username" value="{{user}}" readonly="readonly" onclick="alert($(this).val().trim());">
          </div>
          
          <div class="form-group">
            <label class="control-label" for="confirmemail">Email Address</label>
            <input id="email" class="form-control input-sm check" type="text" name="confirmemail" onkeyup="validateEmailCheck();">
          </div>
        
          <div class="form-group">
            <label class="control-label" for="confirmdob">Confirm your date of birth</label>
            <input class="form-control input-sm check" type="date" name="confirmdob" onkeyup="runDateOfBirthCheck($(this));">
          </div>
        
          <div class="form-group">
            <label class="control-label" for="newpassword">New Password</label>
            <input class="form-control input-sm check" type="password" name="newpassword" id="password" onkeyup="passwordCheck();">
          </div>

          <div class="form-group">
            <label class="control-label" for="confirmnewpassword">Confirm New Password</label>
            <input class="form-control input-sm check" type="password" name="confirmnewpassword" id="confirmPassword" onkeyup="passwordCheck();">
          </div>
        </div>
        
        <input class="btn btn-success" type="submit" value="Submit">
  </form>
</fieldset>

<br />

<!--Link back to login page -->
<a href="/login">Back to login</a>
</fieldset>
{% endblock %}
{% block contactUsLink %}{% endblock %}