{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block scriptsAndStyles %}


{% endblock %}

{% block content %}
<h3> Search </h3>

<!--Seach box to search for users to conency to-->
  <form action="/search" method="POST">
    <div class="form-group">
      <label for="username"></label>
      <input class="form-control" type="text" name="searchterm">
    </div>
    <input class="form-control" type="hidden" name="username" value='{{username}}'>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<br />
<br />
<br />
<!--Table to display search results -->
<div id="queryTable">
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Connect</th>
      </tr>
    </thead>
    <tbody>
<!--results here-->
  {% for result in results %}
  <tr>
    <td>{{result.username}}</td>
    <td>{{result.firstname}}</td>
    <td>{{result.surname}}</td>
    <td>
      <form name="connect" action="/createConnectionWeb" method="POST">
        <input name="username" type="hidden" value="{{username}}">
        <input name="target" type="hidden" value="{{result.username}}">
        <input type="submit" class="btn btn-default" value="Connect">
      </form>
   </td>
  </tr>
  {% endfor %}
    </tbody>
  </table>
</div>

   <br />

{% endblock %}
