{% extends "template.html" %}

{% block title %}Search{% endblock %}

{% block scriptsAndStyles %}


{% endblock %}

{% block content %}
<h3> Search </h3>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{message}}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!--Seach box to search for users to conency to-->
  <form action="/search" method="POST">
    <div class="form-group">
      <label for="username"></label>
      <input class="form-control" type="text" name="searchterm">
    </div>
    <input class="form-control" type="hidden" name="username" value='{{username}}'>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<br />
<br />
<br />
<!--Table to display search results -->
<div id="queryTable">
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Connect</th>
      </tr>
    </thead>
    <tbody>
<!--results here-->
  {% for result in results %}
  <tr>
    <td>{{result.username}}</td>
    <td>{{result.firstname}}</td>
    <td>{{result.surname}}</td>
    <td>
      {% if result.message %}
        <form action="/profile" method="GET">
          <input type="hidden" name="go" value="connections">
          <input type="submit" class="btn btn-primary" value="{{result.message}}">
        </form>
      {% else %}
        <form name="connect" action="/createConnectionWeb" method="POST">
          <input name="username" type="hidden" value="{{username}}">
          <input name="target" type="hidden" value="{{result.username}}">
          <input type="submit" class="btn btn-success" value="Connect">
        </form>
      {% endif %}
   </td>
  </tr>
  {% endfor %}
    </tbody>
  </table>
</div>

   <br />

{% endblock %}
