{% extends "template.html" %}
{% block title %}Settings{% endblock %}
<!--java Script to load the tab format -->
{% block scriptsAndStyles %}

<!--javaScript to confirm a users deactivation -->
<script>
$(document).ready(function() {
  $("#deactivate").submit(function(e) {
    if (!confirm('Are you sure you want to deactivate this account?')) {
      e.preventDefault();
    }
  });
});
</script>
{% endblock %}

{% block content %}
<h3>Settings</h3>
<br />
<!--Tab layout -->
<div role="tabpanel">
  <!--Tab Headers -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#security" aria-controls="security" role="tab" data-toggle="tab">Security</a></li>
    <li role="presentation"><a href="#privacy" aria-controls="privacy" role="tab" data-toggle="tab">Privacy & FAQ's</a></li>
  </ul>

  <br />
  <!--Tab for users profile -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active container" id="profile">
      <div class="row" align ="center">
        <div class="col-md-6 col-lg-6 ">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3>{{profileDetails.username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                <div class=" col-md-10 col-lg-8 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Firstname:</td>
                        <td>{{profileDetails.firstname}}</td>
                      </tr>
                      <tr>
                        <td>Surname:</td>
                        <td>{{profileDetails.surname}}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth:</td>
                        <td>{{profileDetails.dob}}</td>
                      </tr>
                      <td>Gender:</td>
                      <td>{{profileDetails.gender}}</td>
                    </tr>
                    <tr>
                      <td>Account Type:</td>
                      <td>{{printaccounttype}}</td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>{{profileDetails.email}}</td>
                    </tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--Link to be able to edit your profile -->
        <div class="panel-footer"> <!-- <a href="edit.html" >Edit Profile</a> &nbsp; &nbsp; --> <a href="/deactivate" >Deactivate Account </a></div>
      </div>
    </div>
  </div>
</div>

    <div role="tabpanel" class="tab-pane fade in active container" id="security">
      <h4>Security info here </h4>

    </div>
    <div role="tabpanel" class="tab-pane fade in active container" id="privacy">
      <h4>Privacy & FAQ's </h4>
        <ol>
          <li> Who can connect with me? </li>
       As a Patient only carers can search for you, as a carer only patients can search for you
          <li> Who view my data? </li>
         As a patient only you and your carer can view your data
         As a carer patients can only see your username, firstname and surname
          <li> Where is my data stored? </li>
        All data is stored on JustHealth's database which protected by many security settings
          <li> How can I delete data about myself? </li>
          To delete appointments and prescriptions this can be done within the respective pages.
          To delete all data about you, you need to deactivate your account and check the box to remove all your data.
          <li> How can I leave JustHealth? </li>
          To remove your account, this is done via the deactivation tab.
        </ol>


    </div>
  </div>
</div>



{% endblock %}
