{% extends "template.html" %}

{% block title %}Site Map{% endblock %}

{% block content %}
<h2>JustHealth Site Map</h2>

<h4> Profile </h4>
<ul>
  <li> Edit profile </li>
</ul>

<h4> Patient Medication  </h4>
<ul>
  <li> View Prescriptions </li>
</ul>

<h4> Carer Medication  </h4>
<ul>
  <li> View Patient Prescriptions </li>
  <li> Create Prescriptions </li>
  <li> Edit Prescitpions </li>
  <li> Delete Prescriptions</li>
</ul>

<h4> Appointments </h4>
<ul>
  <li> Create Appointment </li>
  <li> View Appointments </li>
  <li> Delete Appointments </li>
  <li> View old appointments </li>
</ul>

<h4> Connections  </h4>
<ul>
  <li> Incomming Connections </li>
  <li> Outgoing Connections </li>
  <li> Established Connections </li>
</ul>

<h4> Carer- My Patients </h4>
<ul>
  <li> List of all current patients </li>
  <li> The ability to view appointments and medication</li>
</ul>

<h4>  </h4>

{% endblock %}
