<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="justhealth.jhapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="justhealth.jhapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="justhealth.jhapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/pill"
        android:label="@string/app_name"
        android:theme="@style/JustHealthTheme">

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="justhealth.jhapp" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name=".Login"
            android:label="Login" >
        </activity>

        <activity
            android:name=".Register"
            android:label="Register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".TermsAndConditions"
            android:label="Terms and Conditions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".HomePatient"
            android:label="Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".HomeCarer"
            android:label="Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".MyPatients"
            android:label="My Patients">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".CarerPrescriptions"
            android:label="Prescriptions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity android:name=".AddPrescription" />
        <activity android:name=".EditPrescription" />

        <activity
            android:name=".Search"
            android:label="Search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".Profile"
            android:label="Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings" />
        </activity>

        <activity android:name=".EditProfile" />

        <activity
            android:name=".DeactivateAccount"
            android:label="Deactivate Account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Settings" />
        </activity>

        <activity
            android:name=".Settings"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".SelfAppointments"
            android:label="Self Appointments">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".SelfArchivedAppointments"
            android:label="Archived Appointments">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".PatientPrescription"
            android:label="Medication">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity
            android:name=".CreateSelfAppointment"
            android:label="Create Appointment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelfAppointments" />
        </activity>

        <activity
            android:name=".EditSelfAppointment"
            android:label="Edit Appointment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelfAppointments" />
        </activity>

        <activity
            android:name=".CarerPatientAppointments"
            android:label="Appointments">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyPatients" />
        </activity>

        <activity
            android:name=".CreateCarerPatientAppointment"
            android:label="Create Appointment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarerPatientAppointments" />
        </activity>

        <activity
            android:name=".CarerPatientArchivedAppointments"
            android:label="Archived Appointments">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyPatients" />
        </activity>

        <activity
            android:name=".EditCarerPatientAppointment"
            android:label="Edit Appointment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyPatients" />
        </activity>

        <activity
            android:name=".Privacy"
            android:label="Privacy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyPatients" />
        </activity>

        <activity android:name=".Logout"
            android:label="Logout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity android:name=".SearchNHSWebsite"/>
        <activity android:name=".ConnectionsMain"/>
        <activity android:name=".ConnectionsView"/>

        <activity android:name=".PatientCorrespondence"
            android:label="PatientCorrespondence">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity android:name=".CarerPatientCorrespondence"
            android:label="CarerPatientCorrespondence">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>

        <activity android:name=".CarerAddPatientCorrespondence"
            android:label="CarerAddPatientCorrespondence">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarerPatientCorrespondence" />
        </activity>

        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>