<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="justhealth.jhapp" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar">

        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Register"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity
            android:name=".TermsAndConditions"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity
            android:name=".ForgotPassword"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity
            android:name=".HomePatient"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity
            android:name=".HomeCarer"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity
            android:name=".MyPatients"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity
            android:name=".CarerAppointments"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity
            android:name=".CarerPrescriptions"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity android:name=".AddPrescription" />
        <activity android:name=".EditPrescription" />

        <activity android:name=".Settings" />
        <activity android:name=".Connections" />

        <activity
        android:name=".Search"
        android:label="@string/app_name"
        android:parentActivityName=".Login" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Login" />
        </activity>

        <activity
            android:name=".Profile"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>

        <activity
            android:name=".PatientMedication"
            android:label="Just Health"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
            </activity>
    </application>

</manifest>
