{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block scriptsAndStyles %}
<script>
  $(document).ready(function() {
    $('form').submit(function(e) {
      if (!validateForm()) {
        e.preventDefault();
        alert("All fields must be filled out")
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<h1> Login </h1>

  <form action="/login" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password">
    </div>
    {% if wrongCredentials == 'true' %} <p class="wrongInputs">Incorrect username/password.</p> 
    {%elif locked == 'true' %} <p class="wrongInputs">Account locked, an email has been sent to your registered email address.</p> 
    {%elif verified == 'false' %}<p class="wrongInputs">Account is not verified, please clicked on the verification link that you have received in an email from JustHealth</p> {% endif %}
  <input class="form-control" type="submit" value="Login">
  <a href="/resetpassword">Forgot Password</a>
  </form>
{% endblock %}
