{% extends "template.html" %}

{% block title %}Registration{% endblock %}

{% block scriptsAndStyles %}
<script>
	$(document).ready(function() {
		//keyup event on password field so code will execute on every keypress
		$('#password').keyup(function() {
			$('#result').html(checkStrength($('#password').val()));
		});
		$('form').submit(function(e) {
			if (!validateForm()) {
				e.preventDefault();
				alert("All fields must be filled out")
			}
		});
	});
</script>
{% endblock %}

{% block content %}

<h1>Registration</h1>
  <form name="register" action="/register" id="register" method="POST">
		<!-- onsubmit="return validateForm() && validateEmail() && validateDob() && terms());" -->
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username">
    </div>

    <div class="form-group">
        <label for="firstname">First Name</label>
        <input class="form-control" type="text" name="firstname">
    </div>

    <div class="form-group">
        <label for="surname">Surname</label>
        <input class="form-control" type="text" name="surname">
    </div>

    <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input class="form-control" type="date" name="dob" oninput="validateDob()">
    </div>

    <div class="form-group">
        <label for="isMale">Gender </label>
        <input class="" type="radio" name="ismale" value="true">Male&nbsp;
        <input class="" type="radio" name="ismale" value="false">Female&nbsp;
	</div>

    <div class="form-group">
        <label for="isCarer">Account Type</label>
        <input class="" type="radio" name="iscarer" value="true">Carer&nbsp;
        <input class="" type="radio" name="iscarer" value="false">Patient&nbsp;
    </div>

    <div class="form-group">
        <label for="email">Email Address</label>
        <input class="form-control" type="text" name="email" oninput="validateEmail()" id="validateEmail">
        <span id="errorEmail"></span>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">
		<span id="result"></span>
    </div>

    <div class="form-group">
        <label for="confirmpassword">Confirm Password</label>
        <input class="form-control" type="password" id="confirmPassword" name="confirmpassword" onkeyup="passwordCheck(); return false;">
		<span id="confirmationMessage" class="confirmMessage"></span>
    </div>

    <input type="checkbox" name="terms"> I accept the <a href="/termsandconditions">terms and conditions</a>

	<input class="form-control" type="submit" value="Register">
		<br/>
  </form>
{% endblock %}
