{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2> Reset Password </h2>
<h5>  Please enter your details below to reset your password.</h5>
<br />
{% if invalid == 'true' %}<p class="wrongInputs">Email/DOB do not match JustHealth records.</p>{% endif %}

  <form name= "resetpassword" action="/resetpassword" method="POST" onsubmit="return !!(validateFormResetPassword() & validateEmailResetPassword() & validateDob());" >
    <div class="form-group">
    	<div class="form-group">
        	<label for="username">Username</label>
        	<input class="form-control" type="text" name="username">
    	</div>
    	<div class="form-group">
        	<label for="confirmemail">Email Address</label>
        	<input class="form-control" type="text" name="confirmemail" oninput="validateEmailResetPassword()" onsubmit="return !!(validateFormResetPassword() & validateEmailResetPassword() & validateDob());">
            <p id="errorEmail" class="wrongInputs"></p>
        </div>
        <div class="form-group">
       	 	<label for="newpassword">New Password</label>
        	<input class="form-control" type="password" name="newpassword">
    	</div>

    	<div class="form-group">
        	<label for="confirmnewpassword">Confirm New Password</label>
        	<input class="form-control" type="password" name="confirmnewpassword">
    	</div>
    	<div class="form-group">
        	<label for="confirmdob">Confirm D.O.B.</label>
        	<input class="form-control" type="date" name="confirmdob" oninput="validateDob()">
    	</div>
    </div>
    <input class="form-control" type="submit" value="Submit">
  </form>

  <br/>
  <a href="/login">Back to login</a>
{% endblock %}
