{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block content %}

  Please enter your username below to be sent an email to reset your password
  <br/>
  <br/>
  <form name= "resetpassword" form action="" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username">
    </div>
    <input class="form-control" type="submit" value="Submit">
  </form>

  <br/>
  <a href="/login">Back to login</a>
{% endblock %}
