{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% block scriptsAndStyles %}
<script>
  $(document).ready(function() {
    $('form').submit(function(e) {
      if (!validateForm()) {
        e.preventDefault();
        alert("All fields must be filled out")
      }
    });
  });
</script>
{% endblock %}

<h2>Reset Password</h2>
<h5>Please enter your username below to be sent an email to reset your password</h5>

  <form name= "resetpassword" form action="" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username">
    </div>
    <input class="form-control" type="submit" value="Submit">
  </form>

  <br/>
  <a href="/login">Back to login</a>
{% endblock %}
