Flask==0.10.1
Flask-HTTPAuth==2.3.0
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.3
Werkzeug==0.9.6
docutils==0.12
gunicorn==19.1.1
itsdangerous==0.24
passlib==1.6.2
peewee==2.3.3
psycopg2==2.5.4
sphinx-rtd-theme==0.1.6
wsgiref==0.1.2
